/* logo aparecendo da esquerda*/
@keyframes aparecerDaEsquerda {
   0% {
      opacity: 0;
      transform: translateX(-100px);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}
/* aparecendo da direita*/
@keyframes aparecerDaDireita {
   0% {
      opacity: 0;
      transform: translateX(100px);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

/* Animação dos link de menus aparecendo*/
@keyframes AparecendoTop {
   0% {
      opacity: 0;
      transform: translateY(-100px);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

@keyframes AparecendoBottom {
   0% {
      opacity: 0;
      transform: translateY(100px);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

/* Imagem aparecendo com zoom */
@keyframes zoom-img {
   0% {
      opacity: 0;
      transform: scale(0);
   }

   100% {
      opacity: 1;
      transform: scale(100%);
   }
}
